doctype
html(lang=es)
	head
		meta(charset="utf-8")
		title Skeletor
		meta(name="description",content="Skeletor")
		meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
		link(rel="stylesheet",href="bower_components/normalize-css/normalize.css")
		link(rel="stylesheet",href="bower_components/bootstrap/dist/css/bootstrap.min.css")
		link(rel="stylesheet",href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css")
		link(rel="stylesheet",href="css/style.css")
		script(src="bower_components/html5shiv/dist/html5shiv.min.js")
	body
		.container
			h1 Footballer
			#search
				form
					.input-group
						input.form-control(name="name", placeholder="Buscar")
						span.input-group-btn
							button.btn.btn-default(type="button") Buscar
			.results
				- for(var i=0; i<6; i++)
					.footballer
						img.photo(width="200", height="300")
						span.name Nombre de Jugador
		script(src="bower_components/jquery/dist/jquery.min.js")
		script(src="bower_components/jquery-validation/dist/jquery.validate.min.js")
		script(src="js/script.js")